alabaster==0.7.12
argh==0.26.2
Babel==2.6.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorclass==2.2.0
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.10.1
livereload==2.6.0
MarkupSafe==1.1.1
packaging==19.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.3.1
pyparsing==2.4.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.9
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.1
sphinx-tabs==1.1.13
sphinxcontrib-versioning==2.2.1
sphinxcontrib-websupport==1.1.0
tornado==6.0.2
urllib3==1.24.1
watchdog==0.9.0
